article h2{
    background-color: violet;
}
article> h2{
    background-color: greenyellow;
}
article>section>div>h2{
    background-color: skyblue;
}
article+h2{
    background-color: red;
}
#conatiner~h2{
    background-color: bisque;
}
/* #container .h2{
    background-color: palevioletred;
} */